@font-face {
    font-family: 'Roboto Mono';
    src: url('fonts/RobotoMono-VariableFont_wght.ttf');
}
@font-face {
    font-family: 'Roboto Mono';
    src: url('fonts/RobotoMono-Italic-VariableFont_wght.ttf');
}

* {
    -fx-font-family: "Roboto Mono";
}

.vBox{
    -fx-background-color: navy;
    -fx-border-color: rgb(142, 142, 142);
}
