* {
    /* Todo: Use prettier monospaced google font and deliver it with application */
    -fx-font-family: "Courier New", monospace;
}

.vBox{
    -fx-background-color: navy;
    -fx-border-color: rgb(142, 142, 142);
}
